.paused-overlay {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
}

.paused-container {
    width: 300px;
}

.game-over-overlay {
    background-color: rgba(50, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}

.btn-grow, .ui-text {
    transition: transform 0.2s ease-in-out;
    font-family: 'Orbitron', sans-serif !important;
    text-transform: uppercase;
}

.btn-grow:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

.btn-grow:active {
    transform: scale(0.95); 
}

.wasted-title {
    font-family: 'Metal Mania', cursive;
    text-shadow: 2px 2px 5px rgba(104, 0, 0, 0.822);
    letter-spacing: 5px;
}

.wasted-menu {
    font-family: 'Orbitron', sans-serif;
}