.game-container {
  position: relative;
  width: 800px;
  height: 600px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.ui-overlay>* {
  pointer-events: auto;
}

.pause-title {
  color: yellow !important;
}